  name: Deploy MultiDocker
  on:
    push:
      branches:
        - master
    
  jobs:
    build:
      runs-on: ubuntu-latest
      environment: prod
      steps:
        - uses: actions/checkout@v2
        - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        - run: docker build -t thisisbrad/react-test -f Dockerfile.dev .
        - run: docker run -e CI=true thisisbrad/react-test npm test
  
        - name: Generate deployment package
          run: zip -r deploy.zip . -x '*.git*'
  
        - name: Deploy to EB
          uses: einaregilsson/beanstalk-deploy@v18
          with:
            aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
            aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
            application_name: docker-gh
            environment_name: Dockergh-env
            existing_bucket_name: elasticbeanstalk-us-east-2-441508729461
            region: us-east-2
            version_label: ${{ github.sha }}
            deployment_package: deploy.zip